# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.log

# Ignore virtual environments
venv/
.env/
.venv/

# Ignore version control
.git/
.gitignore

# Ignore Docker files not needed in the image
Dockerfile
.dockerignore

# Ignore local notebooks and data files
*.ipynb

# Ignore all data by default
data/*

# But keep the inference file
!data/raw/InferenceData.csv

# (Optional) also keep __init__.py if needed for imports
!data/raw/__init__.py

# Ignore notebooks and unnecessary CSVs
data/raw/*.ipynb
data/raw/Customer-Churn-Records.csv

datasets/
notebooks/

# Ignore model artifacts if they’re large
checkpoints/
artifacts/
*.joblib
*.h5
*.onnx

# Ignore test outputs
tests/__pycache__/
outputs/
logs/
tmp/
